.container {
  height: 100%;
  width: 100%;
  background-color: #082f49;
  border-radius: 1em 0 0 1em;
  display: flex;
  flex-direction: column;
}

.setting-list,
.users-list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding: 1em;
}

.profile-section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1em;
}

.section-header,
.profile-header {
  font-size: x-large;
  font-weight: 100;

  margin: 0;
}

.profile-name {
  font-weight: 200;
  font-style: italic;
  font-size: large;
}

.section-header {
  border-bottom: 1px solid #94a3b8;
  margin-bottom: 1em;
}

.setting-item {
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.setting-item:hover {
  color: #0369a1;
}
